@baseColor: #000;
@baseFontSize: 12px;
@layoutWidth: 940px;


.baseBorder(@baseBorderWidth: 1px; @baseBorderColor: @baseColor; @baseBorderStyle: solid;) {
	border-width: @baseBorderWidth;
	border-color: @baseBorderColor;
	border-style: @baseBorderStyle;
}


input[type="text"].search-query {
	height: auto;
}
.bottomMenu {
	text-align: center;
}
.copyright {
	text-align: center;
}
.nav-header {
	font-size: 16px;
	padding: 0;
}
.list:before, .list:after {
	content: "";
    display: table;
    line-height: 0;
}
.list:after {
    clear: both;
}
.list {
}
.list .date {
	float: right;
}


