.main_m {
	width: 685px;
	float: left;
	.box {
		margin-bottom: 15px;
		.title {
			height: 38px;
			border: 1px solid @grayLighter;
			border-bottom: none;
			background: #f3f3f3;
			overflow: hidden;
			zoom: 1;
			h2 {
				float: left;
				margin: 0;
				width: 200px;
				line-height: 32px;
				text-indent: 10px;
				span {
					vertical-align: middle;
				}
			}
			.tab_menu {
				.tab_menu;
			}
		}
		.content {
			border: 1px solid @grayLighter;
			background: @white;
			overflow: hidden;
			zoom: 1;
			.item {
				width: 330px;
				float: left;
			}
			ul {
				.unstyled;
				overflow: hidden;
				zoom: 1;
				padding-bottom: 25px;
			}
			li {
				float: left;
				margin-left: 23px;
				margin-top: 25px;
				display: inline;
				border: 1px solid @white;
				width: 140px;
				height: 100px;
				position: relative;
				a {
					// display: block;
					// z-index: 0;
					// color: #fff;
					&:hover {
						text-decoration: underline;
						// border: 1px solid @gray;
					}
				}
				img {
					width: 140px;
					height: 100px;
					position: absolute;
					z-index: 1;
				}
				.text {
					width: 100%;
					height: 30px;
					line-height: 30px;
					position: absolute;
					z-index: 3;
					bottom: 0;
					text-align: center;
					color: @white;
				}
			}
			.pagination {
				.pagination;
			}
		}

	}	
}
.sider_m {
	width: 260px;
	float: right;
	.box {
		margin-bottom: 15px;
		.title {
			height: 32px;
			border: 1px solid @grayLighter;
			background: lighten(@grayLighter, 15%);
			.clearfix;
			h2 {
				float: left;
				margin: 0;
				text-indent: 10px;
				line-height: 32px;
				span {
					vertical-align: middle;
				}
			}
		}
		.content {
			border: 1px solid @grayLighter;
			border-top: none;
			background: @white;
			padding: 5px 0;
			ol {
				margin: 0;
				padding: 5px 0 5px 35px;
			}
			ul {
				.unstyled;
			}
			li {
				line-height: 25px;
				img {
					width: 85px;
					height: 60px;
				}
			}
		}
	}
}

.main_m{
	#new_video {

		.title, .content {
			border-color: #e2d3b2;
		}
		.title {
			background-color: #fff9f0;
			h2 {
				color: #d18a00;
				margin-top: 7px;
			}
		}
	}
}

#all_video {
	.content {
		.tab_con {
			display: none;
		}
		padding-bottom: 20px;
		ul {
			overflow: hidden;
			zoom: 1;
			padding-bottom: 5px;
		}
		li {
			float: left;
			margin-left: 23px;
			margin-top: 15px;
		}
	}
}

#announcement, #theory, #learned{
	ul {
		padding: 5px 15px;
	}
	li {
		background: url("@{img-url}dot.jpg") left center no-repeat;
		padding-left: 10px;
		width: 215px;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

#ranking {
	li {
		.text {
			width: 150px;
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			vertical-align: top;
		}
		.hits {
			width: 50px;
			display: inline-block;
			text-align: right;
		}
		.image {
			display: none;
			clear: both;
		}
		&.actived {
			.text,
			.hits {
				color: @orange;
				font-weight: bold;
			}
			.image {
				display: block;
			}			
		}
	}
	
}

#links {
	clear: both;
	.box {
		margin-bottom: 20px;
		.title {
			height: 32px;
			border: 1px solid @grayLighter;
			background: lighten(@grayLighter, 15%);
			h2 {
				margin-top: 6px;
				text-indent: 10px;
			}
		}
		.content {
			border: 1px solid @grayLighter;
			border-top: none;
			background: @white;
			ul {
				.unstyled;
				overflow: hidden;
				zoom: 1;
				padding: 8px 5px;
			}
			li {
				line-height: 25px;
				float: left;
				margin: 0px 0 0 10px;
			}
		}
	}
}