<p>
<meta content="text/html;charset=UTF-8" http-equiv="Content-Type" /><style type="text/css">
		.style1 { border-bottom:1px dotted #B2B2B2; margin:0 10px 0; }
		.style1 a { display:block; height:100px; background:#FFF url(http://img.mbanggo.com/sources/cms/2010121201/mailbg.jpg) 0 0 no-repeat; overflow:hidden; zoom:1; text-indent:-1000px; }
		.style2 { padding:15px; font-size:12px; color:#333; }
		.style3 { height:29px; background:url(http://img.mbanggo.com/sources/cms/2010121201/mailbg.jpg) 0 bottom no-repeat; margin:0 10px; border-bottom:1px dotted #B2B2B2; overflow:hidden; zoom:1; }
		.style4 { margin:0 10px 10px; line-height:30px; text-indent:3px; }
		.style4 a { color:#999; font-size:12px; text-decoration:none; display:inline-block; }
		.style4 a:hover { color:#C00; }
		.link1 { font-size:16px; font-weight:bold; color:#C00; text-decoration:none; display:inline-block; margin-left:120px; margin-top:20px; }
		.link1:hover { text-decoration:underline; }
		.link2 { color:#333; }
		.link2:hover { color:#C00; text-decoration:underline; }
		.Lcc00 { color:#C00; }
		.Lfz14 { font-size:14px; }
		.Lfwb { font-weight:bold; }
	</style>
<table width="730" align="center" style="border-bottom: #e1e1e1 1px solid; border-left: #e1e1e1 1px solid; border-spacing: 0; border-collapse: collapse; border-top: #e1e1e1 1px solid; border-right: #e1e1e1 1px solid">
    <tbody>
        <tr>
            <td>
            <div class="style1"><a href="http://www.banggo.com">邦购</a></div>
            </td>
        </tr>
        <tr>
            <td class="style2"><span class="Lfz14 Lfwb">亲爱的<span class="Lcc00">{$user_id}：</span></span>
            <p style="margin-top: 40px">您在邦购网的新密码为 {$new_pwd} ，请在24小时之内登录邦购网并重新重新设置密码。</p>
            <div style="margin-top: 20px">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td>
            <div class="style3">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td>
            <div class="style4"><a style="margin-right: 50px" href="#">服务热线：400－821－9988</a> <!--<a href="mailto:ibanggo@metersbonswe.com">ibanggo@metersbonswe</a>--></div>
            </td>
        </tr>
    </tbody>
</table>
</p>

